<app-alert *ngIf="displayPrice" (close)="alertClosed()"></app-alert>
<div id="about">
    <nav class="navbar navbar-default navbar-fixed-top w3-brown">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/home">Home</a>
                <a class="navbar-brand" routerLink="/auth">Login</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/pictures">PHOTOS</a></li>
                    <li><a routerLink="home#services">SERVICES</a></li>
                    <li><a routerLink="/contact">CONTACT</a></li>
                    <li><a (click)="displayPrices()">PRICE</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="jumbotron text-center">
    <h1>{{ content.heading | uppercase }}</h1>
    <p>{{ content.subHeading }}</p>
    <p>Specialist in Interior Decoration.</p>
    <p>Inside and outside, all types of repair work done!</p>
</div>