<div id="contact" class="container-fluid bg-grey">
    <div class="row" style="padding: 20px 0px 0px 0px">
        <div class="col-sm-6 text-center">
            <p class="font" style="margin-bottom: 20px;">Mr. Anand Kr. Gupta</p>
            <p><span class="glyphicon glyphicon-envelope font"></span> anandgupta058@gmail.com</p>
        </div>
        <div class="col-sm-6 text-left">
            <p><span class="glyphicon glyphicon-map-marker font"></span> 64/1, Selimpur Lane, Kolkata - 700 031</p>
            <p><span class="glyphicon glyphicon-phone font"></span>+91 9874533023 | +91 7003787636</p>
        </div>
    </div>
</div>