.slideanim {
    visibility:hidden;
}

p {
  color: antiquewhite;
}

.bg-grey {
    background-color: #f4511e;
}

.font {
    font-size: x-large;
    color: whitesmoke;
}

.glyphicon {
    padding-right: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}