label {
    font-size: medium;
    color: whitesmoke;
}

div.row {
    margin-bottom: 20px;
}

button {
    padding: 10px 40px;
    font-size: larger;
    font-weight: 300;
}

input, textarea {
    color: black !important;
    font-weight: 800;
}

::ng-deep .mat-select-panel {
    background: black;
}

mat-label {
    color: white;
    font-size: large;
}

mat-form-field {
    padding: 10px;
    width: 50%; 
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    mat-form-field {
        width: 100%; 
        margin-bottom: 20px;
    }

    div.row {
        margin-bottom: 0px;
    }
}

input, textarea, ::ng-deep .mat-select-value {
    color: white !important;
    font-size: larger ;
}

::ng-deep .mat-form-field-infix {
    border-bottom: 1px solid white;
}

.button {
    margin-top: 20px; 
    width: 40%; 
    font-size: x-large;
}

.options {
    color: white; 
    font-size: large; 
    text-align: center; 
    border-bottom: 1px solid white;
}

::ng-deep .mat-option:hover {
    background: white !important;
    font-size: x-large !important;
    font-weight: 800 !important;
    color: black !important;
}