<div class="container" class="container">
    <div class="row">
        <form [formGroup]="form" class="form-group col-lg-offset-0.5" (ngSubmit)="onSubmit()">
            <mat-form-field appearence="outline" class="form-field">
                <mat-label style="color: white;">Enter email:</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearence="fill" class="form-field">
                <mat-label style="color: white;">Enter password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="form.invalid" class="button">Login</button>
        </form>
    </div>
</div>