.container {
    font-size: large; 
    font-weight: 600; 
    color: white;
}

.form-field {
    width: 90%; 
    border: 1px solid white; 
    padding: 0px 15px;
    margin: 20px 0px;
    margin-left: 5%;
}

.button {
    margin-top: 20px;
    width: 40%;
    font-size: large;
}