<h2 mat-dialog-title style="color: white; text-align: center;">Service Price: </h2>
<mat-dialog-content class="mat-typography">
    <div class="container-fluid text-center">
        <div class="panel-container text-center">
            <div class="panel-width">
                <div class="panel panel-info">
                    <div class="panel-heading">False Ceiling</div>
                    <div class="panel-body">70 / Sq feet</div>
                </div>
            </div>
            <div class="panel-width">
                <div class="panel panel-info">
                    <div class="panel-heading">Furniture Work</div>
                    <div class="panel-body">1800 / Sq feet</div>
                </div>
            </div>
            <div class="panel-width">
                <div class="panel panel-info">
                    <div class="panel-heading">Painting Work</div>
                    <div class="panel-body">25 / Sq feet inside</div>
                </div>
            </div>
        </div>
        <div class="panel-container">
            <div class="panel-width-1">
                <div class="panel panel-info">
                    <div class="panel-heading">Painting Work</div>
                    <div class="panel-body">15 / Sq feet outside</div>
                </div>
            </div>
            <div class="panel-width-1">
                <div class="panel panel-info">
                    <div class="panel-heading">Putty</div>
                    <div class="panel-body">15 / Sq feet inside</div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button class="button" mat-dialog-close>Okay</button>
</mat-dialog-actions>