.panel-info {
    color: whitesmoke;
    background-color: rgba(204, 14, 42, 0.57);
    font-size: larger;
    font-weight: 500;
    font-weight: 800;
}

.panel-heading {
    color: whitesmoke;
    background-color: rgba(75, 56, 59, 0.68);
}

::ng-deep .mat-dialog-container {
    background: currentColor;
}

.panel-container {
    display: flex;
    width: 100%;
}

.panel-width {
    width: 33%;
}

.panel-width-1 {
    width: 50%;
}

.button {
    font-size: large;
    font-weight: bolder;
    background: lightblue !important;
}

@media screen and (max-width: 768px) {
    .panel-container {
        display: block;
        width: 100%;
    }
    
    .panel-width {
        width: 50%;
        margin-left: 25%;
    }

    .panel-width-1 {
        margin-left: 25%
    }
}