<div class="body">

    <div id="portfolio" class="container-fluid text-center bg-grey">
        <h2>What we have created</h2>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0016.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0011.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0012.jpg" alt="" width="400" height="300">
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0013.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0010.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0015.jpg" alt="" width="400" height="300">
                </div>
            </div>
        </div>
        <br>
    </div>

    <div id="services" class="container-fluid text-center">
        <h2>SERVICES PROVIDED</h2>
        <br>
        <div class="row slideanim">
            <div class="col-sm-4 border space">
                <h4>Civil Work</h4>
            </div>
            <div class="col-sm-3 border">
                <h4>Painting Work</h4>
            </div>
            <div class="col-sm-4 border">
                <h4>Carpenter Work</h4>
            </div>
        </div>
        <div class="row slideanim">
            <div class="col-sm-4 border space">
                <h4>Sliding Work</h4>
            </div>
            <div class="col-sm-3 border">
                <h4>Electric Work</h4>
            </div>
            <div class="col-sm-4 border">
                <h4>Water Proofing</h4>
            </div>
        </div>
        <div class="row slideanim">
            <div class="col-sm-4 border space">
                <h4>Restoration</h4>
            </div>
            <div class="col-sm-3 border">
                <h4>Durability</h4>
            </div>
            <div class="col-sm-4 border">
                <h4>Tiles, Marble</h4>
            </div>
        </div>
        <div class="row slideanim">
            <div class="col-sm-4 border space">
                <h4>Plaster, Paris or Wall Putty</h4>
            </div>
            <div class="col-sm-3 border">
                <h4>Modular Bedroom</h4>
            </div>
            <div class="col-sm-4 border">
                <h4>Modular Kitchen</h4>
            </div>
        </div>

        <div class="row slideanim">
            <div class="col-sm-3 border">
                <h4>Modular Bathroom</h4>
            </div>
            <div class="col-sm-3 border">
                <h4>False Ceiling</h4>
            </div>
            <div class="col-sm-2 border">
                <h4>Repairing</h4>
            </div>
            <div class="col-sm-3 border">
                <h4>Plumbing Work</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-grey">
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0021.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210812-WA0019.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210928-WA0003.jpg" alt="" width="400" height="300">
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210928-WA0004.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210928-WA0005.jpg" alt="" width="400" height="300">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="assets/IMG-20210928-WA0007.jpg" alt="" width="400" height="300">
                </div>
            </div>
        </div>
        <br>
    </div>
</div>