<div class="body">
    <div id="services" class="container-fluid text-center">
        <h2>SERVICES</h2>
        <br>
        <div class="row slideanim">
            <div class="col-sm-3">
                <h4>Civil Work</h4>
            </div>
            <div class="col-sm-3">
                <h4>Painting Work</h4>
            </div>
            <div class="col-sm-3">
                <h4>Carpenter Work</h4>
            </div>
            <div class="col-sm-3">
                <h4>Plumbing Work</h4>
            </div>
        </div>
        <div class="row slideanim">
            <div class="col-sm-3">
                <h4>Sliding Work</h4>
            </div>
            <div class="col-sm-3">
                <h4>Electric Work</h4>
            </div>
            <div class="col-sm-3">
                <h4>Water Proofing</h4>
            </div>
            <div class="col-sm-3">
                <h4>Repairing</h4>
            </div>
        </div>
        <div class="row slideanim">
            <div class="col-sm-3">
                <h4>Restoration</h4>
            </div>
            <div class="col-sm-3">
                <h4>Durability</h4>
            </div>
            <div class="col-sm-3">
                <h4>Tiles, Marble</h4>
            </div>
            <div class="col-sm-3">
                <h4>False Ceiling</h4>
            </div>
        </div>
        <div class="row slideanim">
            <div class="col-sm-3">
                <h4>Plaster, Paris or Wall Putty</h4>
            </div>
            <div class="col-sm-3">
                <h4>Modular Bedroom</h4>
            </div>
            <div class="col-sm-3">
                <h4>Modular Kitchen</h4>
            </div>
            <div class="col-sm-3">
                <h4>Modular Bathroom</h4>
            </div>
        </div>
    </div>

    <div id="portfolio" class="container-fluid text-center bg-grey">
        <h2>Portfolio</h2><br>
        <h4>What we have created</h4>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="paris.jpg" alt="Paris" width="400" height="300">
                    <p><strong>Paris</strong></p>
                    <p>Yes, we built Paris</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="newyork.jpg" alt="New York" width="400" height="300">
                    <p><strong>New York</strong></p>
                    <p>We built New York</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
                    <p><strong>San Francisco</strong></p>
                    <p>Yes, San Fran is ours</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>