* {
    font-weight: 500;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.bg-grey {
    padding-top: 70px;
}

.body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    background: rgb(34, 16, 16);
}

#services {
    padding: 20px 0px;
    color: honeydew;
}

.border {
    border: 1px dotted #6F1D0B;
    margin: 5px 0px;
    padding: 5px;
    background-color: brown;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    border-start-end-radius: 5px;
    border-end-start-radius: 5px;
    color: honeydew;
}

h2 {
    letter-spacing: 4px;
    font-size: xx-large;
}

h4 {
    letter-spacing: 4px;
    font-size: large;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-inner>img {
    width: fit-content;
    height: 500px;
}

.button {
    padding: 20px; 
    font-size: large; 
    margin-top: 25px; 
    background-color: rgba(30, 175, 200, 0.45);
}

li {
    padding: 0px 10px;
    margin: 0px 5px;
}