<div class="container">
    <ul 
    class="nav nav-tabs nav-justified">
        <li [ngClass]="{'active': i == 0 }" *ngFor="let work of typesOfWork; let i= index"><a data-toggle="tab" href= "#{{ work }}">{{ work }}</a></li>
    </ul>

    <div class="tab-content">
        <div id="Repair" class="tab-pane fade in active">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let repair of repairImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/repair/{{repair}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        <div id="Painting" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let paint of paintImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/painting/{{paint}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        <div id="Flash-ceiling" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let ceiling of ceilingImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/flash-ceiling/{{ceiling}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        <div id="Kitchen" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let kitchen of kitchenImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/kitchen/{{kitchen}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        <div id="Shoe-rack" class="tab-pane fade">
            <div *ngIf="shoeRackImages.length==0" style="height: 300px; font-size: xx-large;" class="jumbotron text-center">No Images!</div>
            <div *ngIf="shoeRackImages.length!=0" class="row" style="margin-top: 20px;">
                <div *ngFor="let shoe of shoeRackImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/shoe-rack/{{shoe}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        <div id="Bathroom" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let bathroom of bathroomImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/bathroom/{{bathroom}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        <div id="Tiles" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let tiles of tilesImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/tiles/{{tiles}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
        
        <div id="Furniture" class="tab-pane fade">
            <div class="row" style="margin-top: 20px;">
                <div *ngFor="let furniture of furnitureImages" class="col-sm-4">
                    <div class="thumbnail">
                        <img src="assets/furniture/{{furniture}}" alt="Repair" height="300px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>